/* 
uni blue.......#003366
dark blue:.....#002953
*/

/* @group Base */ /* =============================================================== BASE*/
#g-header  {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
} 
body {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
/*  background-image: url("http://brand.unimelb.edu.au/web-templates/1-0-0/images/backgrounds/clouds.jpg");
    background-position: center 60px !important;
    background-repeat: repeat-x; */
}
a.site-title {
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px 0 0 165px;
}
    a.site-title:hover {
        text-decoration: none;
    	color: #7DB8E8;
    }
.backdrop.blue {
    background: #036;
    height: 80px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
    color: #036;
}
.main h2 a {
    border-bottom: none;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
    color: #D30472;
}
h3 {
    font-size: 18px;
}
/* @end */

/* @group Home */ /* ================================================================= HOME */
.col-md-4 .inner {
	margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 30px;
}
.public-home .section {
	padding-top: 0; margin-top: 0;
}
/* .inner h2, .inner i, .section-intro {
	text-align: center;
} */
.inner ul {
	padding-top: 20px;
}
.inner hr {
	border: none;
}
input {
	padding:  5px 10px;
}
input[type=text] {
	width: 85%;
}
input[type=image] {
	background-color: #356FA1;
	border: 1px solid #ccc;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	position: relative;
	top: 10px;
}
.people h3 {
    font-size: 0.9em;
	padding-top: 1em;
}
.staff-hub .btn {
	width: 100%;
	margin-bottom: 1em;
}
.main .text-btn {
	padding: 8px; 
	font-size: 14px; 
	display: block; 
	border-bottom: none; 
	font-weight: 400
}
.btn-default {
	background-color: #E8EEF4;
	border: 1px solid #C3D4E5;
}
.btn-default:hover {
	background-color: #C3D4E5;
}
.btn-feedback {
	color: #fff;
	background: #db7800; /* Old browsers */
	background: -moz-linear-gradient(top,  #db7800 1%, #cf4c00 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#db7800), color-stop(99%,#cf4c00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #db7800 1%,#cf4c00 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db7800 1%,#cf4c00 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db7800 1%,#cf4c00 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #db7800 1%,#cf4c00 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7800', endColorstr='#cf4c00',GradientType=0 ); /* IE6-9 */
}
.btn-feedback:hover	{
	color: #fff;
	background: #cf4c00; /* Old browsers */
	background: -moz-linear-gradient(top,  #cf4c00 1%, #db7800 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#cf4c00), color-stop(99%,#db7800)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cf4c00 1%,#db7800 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cf4c00 1%,#db7800 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cf4c00 1%,#db7800 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #cf4c00 1%,#db7800 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf4c00', endColorstr='#db7800',GradientType=0 ); /* IE6-9 */
}

/* @group Buttons */ /* ======================================================= Buttons */
.btn-primary {
    background-color: #3B7BB3;
    border: #357EBD !important;
}
.btn-primary:hover {
    background-color: #356FA1;
}
main a.btn {
border-bottom: 1px solid #ccc;
}
.btn-uom {
color: #fff;
background: #275d93;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iIzI3NWQ5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDMzNjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #275d93 8%, #003366 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#275d93), color-stop(100%,#003366));
background: -webkit-linear-gradient(top,  #275d93 8%,#003366 100%);
background: -o-linear-gradient(top,  #275d93 8%,#003366 100%);
background: -ms-linear-gradient(top,  #275d93 8%,#003366 100%);
background: linear-gradient(to bottom,  #275d93 8%,#003366 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#275d93', endColorstr='#003366',GradientType=0 );
}
.btn-uom:hover {
color: #efefef;
background: #003366;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzI3NWQ5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #003366 0%, #275d93 92%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003366), color-stop(92%,#275d93));
background: -webkit-linear-gradient(top,  #003366 0%,#275d93 92%);
background: -o-linear-gradient(top,  #003366 0%,#275d93 92%);
background: -ms-linear-gradient(top,  #003366 0%,#275d93 92%);
background: linear-gradient(to bottom,  #003366 0%,#275d93 92%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#275d93',GradientType=0 );
}

/* @end */


nav.container {
    padding-left: 0;
}
nav ul {
    padding-bottom: 0px; margin-bottom: 0px;
}
main.backdrop {
    background-color: none;
}
main .content {
    padding: 0 20px;
}
    .container.main {
        background-color: none;
        padding: 20px 0 0;
    }
        .content .container.main {
			padding: 0;
        }
    main a, footer a {
        color: #485A79;
}
    main p, main ul, main ol, main td, tbody th {
        font-size: 0.95em;
        line-height: 1.6em;
        color: #666;
}
.main li ul, .main li ol {
       padding-top: 0.5em;
       font-size: 1em;
}
.main a {
    border-bottom: 1px dotted #ccc;
}
.welcome .intro {
    color: #fff;
    font-size: 1.2em;
}
.first {
    font-weight: bold;
}
.index .row {
    padding-bottom: 40px;
}
.index .row.last {
    padding-bottom: 0px;
}
.index h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0px;
}
.index h3 {
    font-size: 1em;
    font-weight: bold;
}
.landing h2 {
    padding-top: 20px;
}
.section {
    padding-top: 40px;
}
.landing.section {
    padding-top: 20px;
}
.clear {
    clear: both;
    float: left;
}
.more-space-left {
    padding-left: 25px;
}
.more-space-top {
    padding-top: 25px;
}
.more-space-bottom {
    padding-bottom: 25px;
}
.more-space-right {
    padding-right: 25px;
}
.space-1-b {
    margin-bottom: 1em;
}
.space-1-t {
    margin-top: 1em;
}
.space-1-r {
    margin-right: 1em;
}
.space-1-l {
    margin-left: 1em;
}
.content .intro {
    color: #666;
    font-family: Georgia,serif;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.6em;
}
.img img {
    width: 100%;
    height: auto;
}
.caption_div {
    font-size: 0.9em;
    font-style: italic;
}
img.alignleft {
    float: left;
    padding-right: 20px;
}


/* ===== NAVBAR ===== */
.navbar form {
    color: #ccc;
    padding-top: 10px;
}
.navbar-inverse {
   background-color: #036;
}


/* ===== HOME ===== */
.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.box h2 {
    color: #036;
    font-size: 1.2em;
    margin-top: 5px;
    padding-bottom: 10px;
}
.box a {
    border-bottom: none;
}

/* ===== INDEX ===== */
.hero-links .h-link {
    padding-bottom: 50px;
}


/* ===== MORE ====== */
a.more {
    text-transform: uppercase;
    font-size: 0.9em;
}
.box .fa-caret-right {
    color: #ccc;
    padding-left: 5px;
    font-size: 1.2em;
}

#buttons .btn {
    padding: 0 15px;
    width: 100%;
    white-space: normal;
    text-align: left;
}
#buttons h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
#buttons a.btn-uom p, #buttons a.btn-uom h2 {
    color: #fff;
    line-height: 1.2em;
}
main #buttons a.btn-default {
    color: #666;
    padding: 20px;
    margin: 20px 0;
}
#buttons a.btn-uom h2 {
    padding-top: 20px;
}
#buttons .btn-default h2 {
    color: #2885A6;
}





/* ====== MEDIA ====== */
main .media {margin:1em 0;}
.media, .inner {overflow:hidden; _overflow:visible; zoom:1;}
.media .img, .media .date {float:left; margin-right: 1.5em;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 1.5em;}

/* ----- date list ----- */
.index .events-list .row {
    padding: 10px 0;
}
.index .media img {
    width: 250px;
}
.media h3 { 
    margin-top: 0;
}
.media .date {
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 15px;
}
.media .day {
    display: block;
    font-size: 24px;
    clear: both;
    line-height: 1em;
}
.media .month {
    text-transform: uppercase;
}

/* ===== ARROW LIST ===== */
ul.buttleft, .buttleft ul {
    padding-left: 0px;
}
.main ul li, .link-blocks li li {
    background: url("https://its.unimelb.edu.au/__data/assets/image/0020/641171/arrow-tiny-grey.gif") no-repeat scroll 0 6px transparent;
    list-style: none outside none;
    padding-left: 12px;
    padding-bottom: 0.5em;
}
.main ul.list-unstyled li, .main ul.list-inline li {
    background: none;
    padding-left: 0;
}
.chunky li {
    padding-bottom: 1em;
}

/* ===== TABLES ===== */
.table.blue {
    margin-top: 1.5em;
}
.table.blue td {
    border: 1px solid #ddd;
}
.table.blue thead th {
    background-color: #036;
    color: #fff;
}
.table.blue tbody th {
    background-color: #EFEFEF;
    font-weight: normal; 
    border: 1px solid #ddd;
}

/* ====== LINK TYPES ===== */
a.uom {
    background: url('mysource_files/ext-u.gif') no-repeat scroll 100% 0 transparent;
    padding: 0 15px 0 0;
}
a.external {
    background: url(mysource_files/external.gif) no-repeat scroll 100% 0 transparent;
    padding: 0 15px 0 0;
}
a.email {
    background: url(mysource_files/email.png) no-repeat scroll 100% 0 transparent;
    padding: 0 15px 0 0;
}

/* ====== DOCUMENT ICONS ====== */
main a[href$=".pdf"], main a[href$=".doc"], main a[href$=".xls"], main a[href$=".ppt"], main a[href$=".pps"], main a[href$=".mov"], main a[href$=".mp3"], main a[href$=".aif"], main a[href$=".docx"], main a[href$=".xlsx"], main a[href$=".pptx"], main a[href$=".ppsx"] {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 14px;
}
main a[href$=".pdf"] {
    background-image: url("mysource_files/pdf-icon.gif");
}
main a[href$=".doc"], main a[href$=".docx"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_doc_icon.gif");
}
main a[href$=".xls"], main a[href$=".xlsx"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_xls_icon.gif");
}
main a[href$=".ppt"], main a[href$=".pps"], main a[href$=".pptx"], main a[href$=".ppsx"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_ppt_icon.gif");
}
main a[href$=".mov"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_mov_icon.gif");
}
main a[href$=".mp3"], main a[href$=".aif"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_mp3_icon.gif");
}
/* ===== FORMS ===== */
legend {
    padding: 20px 0 0 0;
}
main label {
    font-weight: normal;
    color: #036;
}
input[type="text"], textarea {
    border: 1px solid #ddd;
}

/* ===== JOBS ===== */
.jobs .w-body a {
    text-transform: uppercase;
    font-size: 0.9em;
}
.jobs small {
    display: none;
}




/* ===== DAISY NAV ===== */

/* Init Logic */
.menu-toggle-button{padding:1em;border:none;cursor:pointer;color: #fff; text-transform: uppercase;}
.menu-toggle-button{display:none;}
.menu-toggle-button.active{color:#ccc;}

ul.menu-list{list-style:none;position:relative;display:table-cell;padding:0px;margin:0px;height:100%}
ul.menu-list li{float:left;position:relative;}
ul.menu-list li a{display:inline-block;}
ul.menu-list li a{display:block;}

/* Handling Submenu */
ul.menu-list ul{display:none;padding:0px;margin:0px;position:absolute;top:100%;left:0%;list-style:none;width:100%;z-index: 700}
ul.menu-list ul li{position:relative;float:none;padding:0px;margin:0px;}
ul.menu-list ul ul{position:absolute;top:0%;left:100%;z-index: 700}
ul.menu-list li:hover>ul{display:inline-block;}
/* End Init Logic */

/* Style */

ul.menu-list li:hover>ul{background:#fff!ie;} /* Fix for IE7 */

/* Submenu Expand Icon */
ul.menu-list li.has-submenu>a>span.menu-expand{font-size: 0.6em;float:right;padding-left:10px;line-height:2.2em;} /* All levels */
ul.menu-list li.has-submenu>a>span.menu-expand{float:none\9;} /* Fix for IE9 and below */
ul.menu-list>li.has-submenu>a>span.menu-expand{} /* Level 1 */
ul.menu-list>li.has-submenu>a>span.menu-expand:after{content:'\25BC'} /* Level 1 */
ul.menu-list li li.has-submenu>a>span.menu-expand{} /* Level 2 */
ul.menu-list li li.has-submenu>a>span.menu-expand:after{content:'\25BA'} /* Level 2 */

/* You can manage with of elements by width of a-tag */
ul.menu-list li a{color:#fff;text-decoration:none;padding:10px;} /* All levels */
ul.menu-list li>a{} /* Level 1 */
ul.menu-list li li>a{width: 100%;} /* Level 2 */
ul.menu-list li li li>a{} /* Level 3 */

/* First Level*/
ul.menu-list>li{margin:0px 5px 0px 0px;border:none;}
ul.menu-list>li>a{}
ul.menu-list>li:hover{background:#0184AF;}
ul.menu-list>li:hover>a{color:#fff;}
ul.menu-list>li>a:hover{}
/* End First Level*/

/* Second Level*/
ul.menu-list>li>ul{border: none;}
ul.menu-list>li>ul>li{background:#002953;}
ul.menu-list>li>ul>li>a{color: #fff;}
ul.menu-list>li>ul>li:hover{background:#036;}
ul.menu-list>li>ul>li:hover>a{}
ul.menu-list>li>ul>li>a:hover{}
/* End Second Level*/

/* Third Level*/
ul.menu-list>li>ul>li>ul{border:none;}
ul.menu-list>li>ul>li>ul>li{background:#002953;}
ul.menu-list>li>ul>li>ul>li>a{color: #000;}
ul.menu-list>li>ul>li>ul>li:hover{background:#ddd;}
ul.menu-list>li>ul>li>ul>li:hover>a{}
ul.menu-list>li>ul>li>ul>li>a:hover{}
/* End Third Level*/

/* ===== BREADCRUMBS ===== */
ol.breadcrumb, .container.breadcrumbs {
    margin-bottom: 0;
}
ol.breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #EFEFEF;
    font-size: .9em;
    padding-top: 10px;
}

/* ===== BANNER ===== */
.banner {
    width: 100%;
}


/* ===== CAROUSEL ===== */
.carousel-caption {
    bottom: 0px;
    left: 0px;
    background: #036;
    padding: 20px;
    width: 100%;
    -moz-opacity: 0.80;
    opacity: 0.80;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}
.carousel-indicators {
    padding-bottom: 20px;
    bottom: -60px;
}



/* ===== FOOTER ==== */
footer {
    border-top: 1px solid #eee;
    background-color: #efefef;
    font-size: 0.90em;
    padding: 20px 0 40px 0px;
    margin-top: 40px;
}
footer h2 {
    font-size: 1.2em;
    margin-top: 0;
}
footer ul {
    padding-left: 0px;
}
footer .about li {
    list-style: none;
}
dt {
    font-weight: 400;
}
dl.inline {
    display: table;
}
dl.inline dt {
    width: 8em;
    color: #666;
}
dl.inline dd {
    width: 18em;
}
dl.inline dt, dl.inline dd {
    float: left;
    margin: 0 0.5em 0 0;
}
dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}
dl.inline dd + dd {
    float: none
}
#footernav {
    position: relative;
    top: 0px;
}
.search {
    padding-bottom: 2em;
}
.search label {
    color: #036;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
}
input#search {
    width: 350px;
    padding: 5px;
}
#footernav .wrapper {
	max-width: 1180px;
}
#footernav #footernav-onesixty {
    left: 475px;
}


/* ===== ASSET BUILDERS ===== */
#upload {
    padding-top: 40px;
}
#upload h2 {
   padding-bottom: 1em;
}
form div.sq-backend-smallprint {
   color: #777;
   font-size: 0.85em;
   margin-top: 0; padding-top: 5px;
   margin-bottom: 1.5em;
}
#word_doc_0_choose_server_file_button,
#excel_doc_0_choose_server_file_button,
#rtf_file_0_choose_server_file_button,
#img_doc_0_choose_server_file_button,
#image_0_choose_server_file_button,
#pdf_file_0_choose_server_file_button,
#mp3_file_0_choose_server_file_button,
#powerpoint_doc_0_choose_server_file_button,
.file-upload br,
.file-upload p {
    display: none;
}
.asset-builder label {
    background-color: #efefef;
    text-align: right;
}
.asset-builder input[type="text"]{
    width: 85%;
}
.submit {
    padding-left: 15px;
}
#sq_commit_button, #form_email_943389_submit {
    background-color: #164682;
    background-image: -moz-linear-gradient(center top , #446791, #164682);
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    margin: 10px 10px 0 0;
    padding: 9px 18px 8px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}

/* ===== 2 COL LIST ===== */
.link-cols2 > ul > li {
    width: 50%;
    margin-right: 3%;
    padding-left: 12px;
    float: left;
    display: block;
    background: none;
}
.link-cols2 > ul > li:nth-child(2n) {
    clear: right;
}
.link-cols hr {
    clear: both;
}


/* ===== EVENTS ===== */

.event-list ul {
    margin: 0; padding: 0;
}
.event-list-item {
    padding-bottom: 1em;
}
.event-list li {
    background: none;
    padding-left: 0;
}
.event-list-item .event-date {
    display: block;
}

/* ===== LISTS ===== */
.main .chunky-list li {
    padding-bottom: 1em;
}
.tight-list {
    padding-bottom: 0.2em;
}
.inline-dl dt {
    float: left;
    width: 25%;
    padding-right: 5%;
    border-bottom: 1px solid #eee;
}
.inline-dl dd {
    width: 70%;
    float: left;
    clear: right;
    border-bottom: 1px solid #eee;
}
.pager li {
    background: none !important;
}


/* old form
#metadata_field_text_933161_value, #metadata_field_text_933215_value {
    width: 500px;
} */


/* RESPONSIVE MEDIA QUERIES */
@media screen and (max-width: 480px){
.no-logo #g-global-menu-logo {
    display: none;
}
a.site-title {
    margin-left: 0px;
    padding: 20px 0;
}
.media .img {
    float: none;
}
.container.main {
    padding: 40px 0px 60px;
}
a.site-title {
	padding-top: 0;
}
}

@media screen and (max-width: 770px){
.meta {
    padding-left: 15px;
    padding-top: 40px;
}
}

@media screen and (max-width: 990px){
.block, .aside {
    padding-top: 40px;
}
#portal.block, .section {
    padding-top: 0px;
}    
nav.container {
    padding-left: 0px; padding-right: 0px;
}
.inner h2 {
	margin-top: 20px;
}
}

@media screen and (min-width: 480px){
#g-header  {
    padding-left: 20px;
}
#g-global-search {
    right: 40px;
}
#g-header #g-global-menu {
    padding-right: 40px;
} 
.staff-hub .btn {
	width: 47%;
	float: left;
	clear: right;
}
.staff-hub .btn-uom {
	margin-right: 6%;
}
.backdrop.blue {
    height: 140px;
}
a.site-title {
	font-size:  2em;
	font-weight: 100;
	padding-left: 165px;
}
.container .main {
	padding-top: 20px;
	padding-bottom: 60px;	
}
}

@media screen and (min-width: 770px) {
.inner h2 {
	margin-top: 20px;
}
}

@media screen and (min-width: 990px) {
.col-md-4 .inner {
	border-bottom: none;
    margin-bottom: 40px;
    margin-top: 0px;
}
.public-home .section {
	padding-top: 40px; margin-top: 0;
}
}

@media screen and (min-width: 1200px) {
.col-md-4 .inner {
    padding-right: 25px;
	padding-bottom: 0px;
}
}

@media print{
      main a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}
      #g-header, #footernav {
           display: none;
}
.site-title {
      padding: 0; margin: 0;
}