/* 
uni blue.......#003366
dark blue:.....#002953
*/

/* ===== BASE ===== */
body {
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    padding-top: 20px;
}
img.logo {
    display: none;
}
a.site-title {
    color: #036;
    display: block;
    font-size: 3em;
    font-weight: 100;
    line-height: 1.2em;
    margin-left: 0px;
    padding: 20px 0;
}
a.site-title:hover {
    text-decoration: none;
    color: #3276B1;
}
.container.main {
    padding: 40px 0px 60px;
}
.backdrop.nav-frame {
    border-bottom: 1px solid #ccc;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #036;
}
.main h2 a {
    border-bottom: none;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
.aside h2 {
    margin-top: 0;
}
body.content h1 {
    padding-bottom: 1em;
}
main.backdrop {
    background-color: #fff;
}
main .content {
    padding: 0 15px;
}
    .container.main {
        background-color: #fff;
        padding-top: 40px;
        padding-bottom: 40px;
    }
        .content .container.main {
            padding-bottom: 60px;
        }
    main a, footer a {
        color: #485A79;
}
    main p, main ul, main ol, main td, tbody th {
        line-height: 1.6em;
        color: #666;
}
.main li ul, .main li ol {
       padding-top: 0.5em;
       font-size: 1em;
}
.main a {
    border-bottom: 1px dotted #ccc;
}
.welcome .intro {
    color: #fff;
    font-size: 1.2em;
}
.first {
    font-weight: bold;
}
.index .row {
    padding-bottom: 40px;
}
.index .row.last {
    padding-bottom: 0px;
}
.landing h2 {
    padding-top: 20px;
}
.section {
    padding-top: 40px;
}
.landing.section {
    padding-top: 20px;
}
.clear {
    clear: both;
    float: left;
}
.more-space-left {
    padding-left: 25px;
}
.more-space-top {
    padding-top: 25px;
}
.more-space-bottom {
    padding-bottom: 25px;
}
.more-space-right {
    padding-right: 25px;
}
.space-1-b {
    margin-bottom: 1em;
}
.space-1-t {
    margin-top: 1em;
}
.space-1-r {
    margin-right: 1em;
}
.space-1-l {
    margin-left: 1em;
}
.img img {
    width: 100%;
    height: auto;
}
.caption_div {
    font-size: 0.9em;
    font-style: italic;
}
img.alignleft {
    float: left;
    padding-right: 20px;
}

/* ===== Arrow List ===== */
ul.buttleft, .buttleft ul {
    padding-left: 0px;
}
.main ul li, .link-block li li {
    background: url("https://its.unimelb.edu.au/__data/assets/image/0020/641171/arrow-tiny-grey.gif") no-repeat scroll 0 6px transparent;
    list-style: none outside none;
    padding-left: 12px;
    padding-bottom: 0.5em;
}
.main ul.list-unstyled li, .main ul.list-inline li, .main .event-list li {
    background: none;
    padding-left: 0;
}
.chunky li {
    padding-bottom: 1em;
}

/* ===== Top Nav Bar ===== */
.navbar form {
    padding-top: 15px;
    padding-bottom: 12px;
}
.navbar-default {
   background-color: #036;
   border: none;
   border-bottom: 1px solid #ccc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
   border-radius: 0px;
   color: #fff;
}
.navbar-right .dropdown-menu {
   text-align: right;
}
.navbar-nav li {
   padding-left: 15px;
   float: right;
}
.navbar-default .navbar-toggle {
    border:  #036;
}
.navbar-default .navbar-toggle:hover {
    background-color: #002953;    
}
.navbar a {
    color:  #fff;
}
/* ===== HOME PAGE ===== */
.jumbotron h1 {
   color: #2A5F99;
}
.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.box h2 {
    color: #036;
    font-size: 1.2em;
    margin-top: 5px;
    padding-bottom: 10px;
}
.box a {
    border-bottom: none;
}
/* ===== Tab Nav ===== */
nav ul {
    padding-bottom: 0px; margin-bottom: 0px;
}
nav .list-inline > li {
    padding: 0px;
}
nav .tab {
    border: 1px solid #ccc;
    border-bottom: none;
    width: 100%;
}
nav .current {
    background-color: #efefef;
}
nav li:nth-child(3) {
    border-right: 1px solid #ccc;
}
.tab a {
   color: #666;
   padding: 20px;
   display: block;
}
.tab a:hover {
   background-color: #036;
   color: #fff;
   text-decoration: none;
}
/* nav li:nth-child(2) {
    display: none;
} */

/* ===== Quicklinks dialpad ===== */
.quicklinks h2 {
    margin-top: 0;
}
.quicklinks hr {
    border: none;
    display: block;
}
.quicklinks ul li {
    width: 33.3%;
    float: left;
    text-align: center;
    padding-left: 0;
    background: none;
    line-height: 1.1em;
    margin-bottom: 15px;
}
.quicklinks li a {
    border-bottom: medium none;
    display: block;
    font-size: 1.1em;
    line-height: 1.1em;
    text-align: center;
    width: 90%;
}
.quicklinks a:hover {
    text-decoration: none;
}
.quicklinks i.fa {
    background-color: #EFEFEF;
    font-size: 3em;
    margin-bottom: 10px;
    padding: 35px 25px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
}
.quicklinks i.fa:hover {
    color: #fff;
}
.quicklinks i.fa-calendar {
    background-color: #2D6098;
    color: #96B0CC;
}
/* .quicklinks i.fa-calendar:hover {
    background-color: #96B0CC;
    color: #2D6098;
} */
.quicklinks i.fa-envelope {
    background-color: #764E89;
    color: #BBA7C4;
}
.quicklinks i.fa-plus-square {
    background-color: #963F69;
    color: #CB9FB4;
}
.quicklinks i.fa-users {
    background-color: #B2333E;
    color: #D9999F;
}
.quicklinks i.fa-th-list {
    background-color: #BA610D;
    color: #DDB086;
}
.quicklinks i.fa-pencil {
    background-color: #C7A500;
    color: #E2D07A;
}
.quicklinks i.fa-map-marker {
    background-color: #7F9B2A;
    color: #BFCD95;
}
.quicklinks i.fa-book {
    background-color: #00865D;
    color: #80C3AE;
}
.quicklinks i.fa-plane {
    background-color: #006883;
    color: #80B4C1;
}

/* ===== Home Icons (Icon Moon) ===== */
@font-face {
    font-family: 'staff-hub';
    src:url('mysource_files/staff-hub.eot?inreml');
    src:url('mysource_files/staff-hub.eot?#iefixinreml') format('embedded-opentype'),
        url('mysource_files/staff-hub.woff?inreml') format('woff'),
        url('mysource_files/staff-hub.ttf?inreml') format('truetype'),
        url('mysource_files/staff-hub.svg?inreml#staff-hub') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="staff-"], [class*=" staff-"] {
    font-family: 'staff-hub';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.staff-lms:before {
    content: "\e600";
}
.staff-themis:before {
    content: "\e601";
}
.staff-th-list:before {
    content: "\f00b";
}
.staff-book:before {
    content: "\f02d";
}
.staff-map-marker:before {
    content: "\f041";
}
.staff-plane:before {
    content: "\f072";
}
.staff-calendar:before {
    content: "\f073";
}
.staff-envelope:before {
    content: "\f0e0";
}
.staff-plus-square:before {
    content: "\f0fe";
}
/* ===== Search / 'How do?' I bar ===== */
.how-bar {
    margin: 30px 0 40px 0;
}
.how-bar .more {
    text-transform: none;
    display: table-cell;
    clear: left;
    padding-top: 10px;
}
.how-bar input#name {
    padding: 5px;
    width: 75%;
}
#staff_search_button {
    padding: 5px;
}
/* ===== INDEX PAGES ===== */
#hot.box {
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #EAF0F4;
    border: none;
   }
body.content .jumbotron {
   padding: 10px 25px 25px 25px;
}
.a964927 #services.row {
   padding-left: 15px;
}
.index h3, .main-links h3 {
    font-weight: 400;
}
.hero-links {
    padding-top: 25px;
}
.hero-links .h-link {
    padding-bottom: 50px;
}
.main-links {
    border-top: 1px solid #DDD;
    padding-top: 2em;
}
.main-links span:nth-child(n+3) {
    display: block;
    padding-top: 25px;
}
.main-links .m-link a {
    color: #678AAF;
    border-bottom: none;
}

/* ===== MORE ====== */
a.more {
    text-transform: uppercase;
    font-size: 0.9em;
}
.box .fa-caret-right {
    color: #ccc;
    padding-left: 5px;
    font-size: 1.2em;
}


/* ===== BUTTON ===== */
main a.btn {
border-bottom: 1px solid #ccc;
}
.btn-uom {
color: #fff;
background: #275d93;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iIzI3NWQ5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDMzNjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #275d93 8%, #003366 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#275d93), color-stop(100%,#003366));
background: -webkit-linear-gradient(top,  #275d93 8%,#003366 100%);
background: -o-linear-gradient(top,  #275d93 8%,#003366 100%);
background: -ms-linear-gradient(top,  #275d93 8%,#003366 100%);
background: linear-gradient(to bottom,  #275d93 8%,#003366 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#275d93', endColorstr='#003366',GradientType=0 );
}
.btn-uom:hover {
color: #efefef;
background: #003366;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzM2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzI3NWQ5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #003366 0%, #275d93 92%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003366), color-stop(92%,#275d93));
background: -webkit-linear-gradient(top,  #003366 0%,#275d93 92%);
background: -o-linear-gradient(top,  #003366 0%,#275d93 92%);
background: -ms-linear-gradient(top,  #003366 0%,#275d93 92%);
background: linear-gradient(to bottom,  #003366 0%,#275d93 92%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#275d93',GradientType=0 );
}
#buttons .btn {
    padding: 0 15px;
    width: 100%;
    white-space: normal;
    text-align: left;
}
#buttons h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
#buttons a.btn-uom p, #buttons a.btn-uom h2 {
    color: #fff;
    line-height: 1.2em;
}
main #buttons a.btn-default {
    color: #666;
    padding: 20px;
    margin: 20px 0;
}
#buttons a.btn-uom h2 {
    padding-top: 20px;
}
#buttons .btn-default h2 {
    color: #2885A6;
}


/* ===== LINK BLOCKS ===== */
.link-block ul {
    padding-left: 0;
}
.link-block a {
    border-bottom: medium none;
}
.main .link-block li {
    background: none repeat scroll 0 0 transparent;
    padding-left: 0;
}
.link-block > ul > li {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
    padding-left: 12px;
    width: 100%;
}
.link-block > ul > li > a {
    color: #8C2300;
    font-size: 1.2em;
}
.link-block > ul > li:nth-child(3n+1) {
    clear: right;
}
.link-block hr {
    clear: both;
    border: none;
}
/* ===== TABLES ===== */
.table.blue {
    margin-top: 1.5em;
}
.table.blue td {
    border: 1px solid #ddd;
}
.table.blue thead th {
    background-color: #036;
    color: #fff;
}
.table.blue tbody th {
    background-color: #EFEFEF;
    font-weight: normal; 
    border: 1px solid #ddd;
}
/* ====== LINK TYPES ===== */
a.uom {
    background: url('mysource_files/ext-u.gif') no-repeat scroll 100% 0 transparent;
    padding: 0 15px 0 0;
}
a.external {
    background: url(mysource_files/external.gif) no-repeat scroll 100% 0 transparent;
    padding: 0 15px 0 0;
}
a.email {
    background: url(mysource_files/email.png) no-repeat scroll 100% 0 transparent;
    padding: 0 15px 0 0;
}
/* ====== DOCUMENT ICONS ====== */
main a[href$=".pdf"], main a[href$=".doc"], main a[href$=".xls"], main a[href$=".ppt"], main a[href$=".pps"], main a[href$=".mov"], main a[href$=".mp3"], main a[href$=".aif"], main a[href$=".docx"], main a[href$=".xlsx"], main a[href$=".pptx"], main a[href$=".ppsx"] {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 14px;
}
main a[href$=".pdf"] {
    background-image: url("mysource_files/pdf-icon.gif");
}
main a[href$=".doc"], main a[href$=".docx"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_doc_icon.gif");
}
main a[href$=".xls"], main a[href$=".xlsx"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_xls_icon.gif");
}
main a[href$=".ppt"], main a[href$=".pps"], main a[href$=".pptx"], main a[href$=".ppsx"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_ppt_icon.gif");
}
main a[href$=".mov"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_mov_icon.gif");
}
main a[href$=".mp3"], main a[href$=".aif"] {
    background-image: url("//www.unimelb.edu.au/template-assets/07/images/tiny/tiny_mp3_icon.gif");
}
/* ===== FORMS ===== */
legend {
    padding: 20px 0 0 0;
}
main label {
    font-weight: normal;
    color: #036;
}
input[type="text"], textarea {
    border: 1px solid #ddd;
}

/* ===== JOBS ===== */
.jobs .w-body a {
    text-transform: uppercase;
    font-size: 0.9em;
}
.jobs small {
    display: none;
}


/* ===== BREADCRUMBS ===== */
ol.breadcrumb, .container.breadcrumbs {
    margin-bottom: 0;
}
ol.breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #EFEFEF;
    font-size: .9em;
    padding-top: 10px;
}

/* ===== BANNER ===== */
.banner {
    width: 100%;
}

/* ===== FEEDBACK ===== */
.feedback {
    border-top: 1px solid #fff;
    padding: 10px;
}

/* ===== FOOTER ==== */
footer {
    background-color: #eee;
    font-size: 0.90em;
    padding: 40px 0px;
}
footer h2 {
    font-size: 1.2em;
    margin-top: 0;
}
footer ul {
    padding-left: 0px;
}
footer .about li {
    list-style: none;
}
dl.inline {
    display: table;
}
dl.inline dt {
    width: 8em;
    color: #666;
}
dl.inline dd {
    width: 18em;
}
dl.inline dt, dl.inline dd {
    float: left;
    margin: 0 0.5em 0 0;
}
dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}
dl.inline dd + dd {
    float: none
}
#footernav {
    position: relative;
    top: 0px;
}
.search {
    padding-bottom: 2em;
}
.search label {
    color: #036;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
}
input#search {
    width: 350px;
    padding: 5px;
}
/* ===== ASSET BUILDERS ===== */
#upload {
    padding-top: 40px;
}
#upload h2 {
   padding-bottom: 1em;
}
form div.sq-backend-smallprint {
   color: #777;
   font-size: 0.85em;
   margin-top: 0; padding-top: 5px;
   margin-bottom: 1.5em;
}
#word_doc_0_choose_server_file_button,
#excel_doc_0_choose_server_file_button,
#rtf_file_0_choose_server_file_button,
#img_doc_0_choose_server_file_button,
#image_0_choose_server_file_button,
#pdf_file_0_choose_server_file_button,
#mp3_file_0_choose_server_file_button,
#powerpoint_doc_0_choose_server_file_button,
.file-upload br,
.file-upload p {
    display: none;
}
.asset-builder label {
    background-color: #efefef;
    text-align: right;
}
.asset-builder input[type="text"]{
    width: 85%;
}
.submit {
    padding-left: 15px;
}
#sq_commit_button, #form_email_943389_submit {
    background-color: #164682;
    background-image: -moz-linear-gradient(center top , #446791, #164682);
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    margin: 10px 10px 0 0;
    padding: 9px 18px 8px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}


/* ===== 2 COL LIST ===== */
.link-cols2 > ul > li {
    width: 50%;
    margin-right: 3%;
    padding-left: 12px;
    float: left;
    display: block;
    background: none;
}
.link-cols2 > ul > li:nth-child(2n) {
    clear: right;
}
.link-cols hr {
    clear: both;
}

.support .menu-list {
    display: none;
}




/* ===== EVENTS ===== */

main .media {
    margin: 1em 0;
}
.media, .inner {
    overflow: hidden;
}
.media .img, .media .date {
    float: left;
    margin-right: 1.5em;
}
.media .img img {
    display: block;
}
.media .imgExt {
    float: right;
    margin-left: 1.5em;
}
.home .media {
    margin-bottom: 1.5em;
}
.home .media .img {
    width: 250px;
}
.home .media h2, .home .events-list h2 {
    margin-top: 0;
}
.media a {
    border-bottom: 0 none;
}
.index .events-list .row {
    padding: 10px 0;
}
.index .media img {
    width: 250px;
}
.media h3 {
    margin-top: 0;
}
.media .date {
    background: linear-gradient(to bottom, #606C88 0%, #3F4C6B 100%) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    padding: 10px 15px;
    text-align: center;
}
.media .day {
    clear: both;
    display: block;
    font-size: 24px;
    line-height: 1em;
}
.media .month {
    text-transform: uppercase;
}
.media .year {
    display: none;
}
.events h2 {
    font-size: 22px;
}
.event-list ul {
    margin: 0; padding: 0;
}
.event-list-item {
    padding-bottom: 1em;
}
.event-list li {
    background: none;
    padding-left: 0;
}
.event-list-item .event-date {
    display: block;
}

/* ===== LISTS ===== */
.main .chunky-list li {
    padding-bottom: 1em;
}
.tight-list {
    padding-bottom: 0.2em;
}
.inline-dl dt {
    float: left;
    width: 25%;
    padding-right: 5%;
    border-bottom: 1px solid #eee;
}
.inline-dl dd {
    width: 70%;
    float: left;
    clear: right;
    border-bottom: 1px solid #eee;
}
.pager li {
    background: none !important;
}

/* ===== MUSSE ===== */
.musse .article {
   position: relative;
   min-height: 130px;
}
.musse .article h3, .field-field-teaser, .musse a.more {
   margin-left: 120px;
}
.musse .article h3 {
   margin-top: 0;
}
.field-field-teaser-img {
   width: 100px;
   float: left;
   margin-right: 20px;
   position: absolute;
   top: 0px;
}
.field-field-teaser-img img {
   width: 100px;
}



/* RESPONSIVE MEDIA QUERIES */
@media screen and (min-width: 480px){
.navbar-brand {
   padding-top: 0px;
}
.navbar p {
    display: none;
}
img.logo {
    display: block;
}
a.site-title {
    padding: 0 0 50px;
    margin-left: 180px;
    }
.quicklinks {
    padding-right: 0px;
}
.quicklinks div {
    padding-left: 15px;
}
nav .tab {
    width: auto;
    border-right: none;
}
}

@media screen and (min-width: 990px){
.link-block > ul > li {
    width:  30%;
    margin-right: 3%;
    }
.link-block hr {
    clear: both;
    border: none;
    padding-bottom: 20px;
    }
}


@media print{
      main a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}
.site-title {
      padding: 0; margin: 0;
}